
* {
    padding: 0; 
    margin: 0; 
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header {
    background-color: rgb(170, 218, 226); 
    width: 100%;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#container {
    background-color: white; 
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: red solid 1px; 
    margin-bottom: 20px; 
}

.row001 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#row01 {
    background-color: grey; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#checkerBoard {
    display: flex;
    justify-content: center;
}


.aquaBox {
    background-color: aqua; 
    border: black solid 3px;
    width:100px;
    height: 100px;
    border-radius: 25%;
    /* margin: 20px; */
}

.purpleBox {
    border: black solid 3px;
    background-color: purple; 
    width:100px;
    height: 100px;
}

.vert {
    display: flex;
    flex-direction: column;
}

.horiz {
    display: flex;
    flex-direction: row;
}
.box1 {
    border: black solid 3px;
    background-color: red;
    width:100px;
    height: 100px;
}

.box2 {
    border: black solid 3px;
    background-color: black; 
    width:100px;
    height: 100px;
}

.validation {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 75%; 
    background-color: lightcoral;
    
}

.validationText {
    font-size: 30px; 
}

.affirmativeValStyle {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 75%; 
    background-color: lightblue; 
    padding: 5px;
}

.negativeValStyle {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 75%; 
    background-color: lightcoral; 
    padding: 5px;
}

.studentTbl {
    table-layout: auto;
}
.studentTblHdr, .studentTblData {
    font-size: 15px;
    font-family: Arial, Verdana, sans-serif;
    
    padding: 5px; 
    text-align: left;
}

.studentTblHdr {
    font-weight: bolder;
    background-color: dimgray;
    color: white; 
    width: 25px;
}

.studentTblData {
    background-color: lightgray;
    color: black; 
}